<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Trap Music</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <form action="/auth/login" method="post" class="text-center">
            <h2>LOGIN TO TRAP MUSIC</h2>
            <div class="mb-3 input-field">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="mb-3 input-field">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary button">Login</button>
            <br><br>
            <p> Don't have an account? <a href="/auth/register">Register here</a></p>
        </form>
    </div>
    </div>
</body>
</html>
