<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Playlists</title>
    <link rel="stylesheet" href="/css/viewplaylist.css">
</head>
<body>
	<!-- Navigation Bar-->
	<nav class="nav">
	    <a href="/" class="logo">Trap Music</a>
	    <ul class="nav-links">
	        <form action="/songs/viewsongs" method="get">
	            <button type="submit">View Songs</button>
	        </form>
	        <form action="/songs/createplaylist" method="get">
	            <button type="submit">Create Playlist</button>
	        </form>
	    </ul>
	</nav>
    <div class="container">
        <h1>Explore your Playlists</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Playlist Name</th>
                    <th>Songs</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over the playlists -->
                <tr th:each="playlist : ${playlists}">
                    <td th:text="${playlist.id}"></td>
                    <td th:text="${playlist.name}"></td>
                    <td>
                        <ul>
                            <li th:each="song : ${playlist.songs}">
                                <!-- Display song name -->
                                <span th:text="${song.name}"></span>
                                <audio controls>
                                    <source th:src="${song.link}" type="audio/mpeg">
                                </audio>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
